*.iml
.gradle
/local.properties
/.idea/shelf
/.idea/workspace.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/appInsightsSettings.xml
/.idea/renderers.xml
/.idea/studiobot.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aar
*.jks
*.keystore
*.hprof
/app/google-services.json
